juego/*.obj
juego/*.err
juego/*.map
juego/*.sym
juego/*.bak
juego/dosbox-x.conf
juego/judas.lib
juego/SAVEGAME.DAT

hito001/
CONTEXTO_TECNICO.md
INTRO_TIME_DAZE.md
PENDIENTE.md
PRUEBAS.md
juego/assets/
